{% extends 'templates/app.twig'%}
{% block content %}

<div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">photos page</h1>
                    </div>
                </div>
            </div>
        </div>

<div class="properties-area recent-property" style="background-color: #FFF;">
    <div class="container">
        <div class="row">
          <div class="col-md-12  pr0 padding-top-40 properties-page">
          <div class="col-md-12 clear">
                      <div id="list-type" class="proerty-th">
                      <div class="col-sm-6 col-md-4 p0">
                              <div class="box-two proerty-item">
                                  <div class="item-thumb">
                                      <a href="" ><img src="{{ base_url() }}/public/images/1.jpeg"></a>
                                  </div>

                                  <div class="item-entry overflow">
                                      <h5><a href="property-1.html"> title_img </a></h5>
                                      <div class="dot-hr"></div>
                                      <span class="pull-left"><b> Tags :</b> tags_img </span>
                                      <div class="property-icon">
                                      <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                      </div>
                                  </div>


                              </div>
                          </div>
                          <div class="col-sm-6 col-md-4 p0">
                                  <div class="box-two proerty-item">
                                      <div class="item-thumb">
                                          <a href="" ><img src="{{ base_url() }}/public/images/2.jpeg"></a>
                                      </div>

                                      <div class="item-entry overflow">
                                          <h5><a href="property-1.html"> title_img </a></h5>
                                          <div class="dot-hr"></div>
                                          <span class="pull-left"><b> Tags :</b> tags_img </span>
                                          <div class="property-icon">
                                          <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                          </div>
                                      </div>


                                  </div>
                              </div>
                              <div class="col-sm-6 col-md-4 p0">
                                      <div class="box-two proerty-item">
                                          <div class="item-thumb">
                                              <a href="" ><img src="{{ base_url() }}/public/images/3.jpeg"></a>
                                          </div>

                                          <div class="item-entry overflow">
                                              <h5><a href="property-1.html"> title_img </a></h5>
                                              <div class="dot-hr"></div>
                                              <span class="pull-left"><b> Tags :</b> tags_img </span>
                                              <div class="property-icon">
                                              <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                              </div>
                                          </div>


                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-4 p0">
                                          <div class="box-two proerty-item">
                                              <div class="item-thumb">
                                                  <a href="" ><img src="{{ base_url() }}/public/images/4.jpeg"></a>
                                              </div>

                                              <div class="item-entry overflow">
                                                  <h5><a href="property-1.html"> title_img </a></h5>
                                                  <div class="dot-hr"></div>
                                                  <span class="pull-left"><b> Tags :</b> tags_img </span>
                                                  <div class="property-icon">
                                                  <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                                  </div>
                                              </div>


                                          </div>
                                      </div>
                                      <div class="col-sm-6 col-md-4 p0">
                                              <div class="box-two proerty-item">
                                                  <div class="item-thumb">
                                                      <a href="" ><img src="{{ base_url() }}/public/images/5.jpeg"></a>
                                                  </div>

                                                  <div class="item-entry overflow">
                                                      <h5><a href="property-1.html"> title_img </a></h5>
                                                      <div class="dot-hr"></div>
                                                      <span class="pull-left"><b> Tags :</b> tags_img </span>
                                                      <div class="property-icon">
                                                      <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                                      </div>
                                                  </div>


                                              </div>
                                          </div>
                                          <div class="col-sm-6 col-md-4 p0">
                                                  <div class="box-two proerty-item">
                                                      <div class="item-thumb">
                                                          <a href="" ><img src="{{ base_url() }}/public/images/6.jpeg"></a>
                                                      </div>

                                                      <div class="item-entry overflow">
                                                          <h5><a href="property-1.html"> title_img </a></h5>
                                                          <div class="dot-hr"></div>
                                                          <span class="pull-left"><b> Tags :</b> tags_img </span>
                                                          <div class="property-icon">
                                                          <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                                          </div>
                                                      </div>


                                                  </div>
                                              </div>
                                              <div class="col-sm-6 col-md-4 p0">
                                                      <div class="box-two proerty-item">
                                                          <div class="item-thumb">
                                                              <a href="" ><img src="{{ base_url() }}/public/images/7.jpeg"></a>
                                                          </div>

                                                          <div class="item-entry overflow">
                                                              <h5><a href="property-1.html"> title_img </a></h5>
                                                              <div class="dot-hr"></div>
                                                              <span class="pull-left"><b> Tags :</b> tags_img </span>
                                                              <div class="property-icon">
                                                              <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                                              </div>
                                                          </div>


                                                      </div>
                                                  </div>
                                                  <div class="col-sm-6 col-md-4 p0">
                                                          <div class="box-two proerty-item">
                                                              <div class="item-thumb">
                                                                  <a href="" ><img src="{{ base_url() }}/public/images/8.jpeg"></a>
                                                              </div>

                                                              <div class="item-entry overflow">
                                                                  <h5><a href="property-1.html"> title_img </a></h5>
                                                                  <div class="dot-hr"></div>
                                                                  <span class="pull-left"><b> Tags :</b> tags_img </span>
                                                                  <div class="property-icon">
                                                                  <p style="">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                                                  </div>
                                                              </div>


                                                          </div>
                                                      </div>


                        </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
