<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MT.IBADURRAHMAN</title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico  the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/normalize.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/fontello.css">
        <link href="{{ base_url() }}/public/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="{{ base_url() }}/public/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/icheck.min_all.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/price-range.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/owl.theme.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/owl.transitions.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/jquery.slitslider.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/style.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/responsive.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet">
        <noscript>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/styleNoJS.css" />
        </noscript>
    </head>
    <body>
<img src="{{ base_url() }}/public/" alt="">
    {% include 'templates/partials/navigation.twig' %}

      {% block content %} {% endblock %}

      <!-- Footer area-->
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>About us </h4>
                                <div class="footer-title-line"></div>

                                <img src="assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                                <p>Pintu kami selalu terbuka lebar untuk Ikhwan fillah.</p>
                                <ul class="footer-adress">
                                    <li><i class="pe-7s-map-marker strong"> </i> Jl. H. Muhyin No.79-80, Jaticempaka, Pondokgede, Kota Bks, Jawa Barat 17411</li>
                                    <li><i class="pe-7s-mail strong"> </i> admin@mtibadurrahman.com</li>
                                    <li><i class="pe-7s-call strong"> </i> 0857-7774-0030</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Quick links </h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><a href="photos">Photos</a>  </li>
                                    <li><a href="videos">videos</a>  </li>
                                    <li><a href="artikel">Artikel</a></li>
                                    <li><a href="booth">Booth</a>  </li>
                                    <li><a href="donasi">Donasi </a>  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Last Artikel</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-blog">
                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="{{ base_url() }}/public/assets/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="{{ base_url() }}/public/assets/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="single.html">
                                                <img src="{{ base_url() }}/public/assets/img/demo/small-proerty-2.jpg">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="single.html">Add news functions </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer news-letter">
                                <h4>Stay in touch</h4>
                                <div class="footer-title-line"></div>
                                <p><i>"Learning all the time, stay hungry stay foolish."</i></p>

                                <form>
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="E-mail ... ">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form>

                                <div class="social pull-right">
                                    <ul>
                                        <li><a class="wow fadeInUp animated" target="_blank" href="https://twitter.com/mtibadurrahman"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="wow fadeInUp animated" target="_blank" href="https://www.facebook.com/mt.ibadurrahman1" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="wow fadeInUp animated" target="_blank" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="wow fadeInUp animated" target="_blank" href="https://instagram.com/mt.ibadurrahman" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="wow fadeInUp animated" target="_blank" href="https://instagram.com/mt.ibadurrahman" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <b>MT.Ibadurrahman</b> & <a href="#">small-project</a> , All rights reserved 2018  </span>
                        </div>
                        <div class="bottom-menu pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Donasi</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Forum</a></li>
                                <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ base_url() }}/public/assets/js/jquery-1.10.2.min.js"></script>
    <script src="{{ base_url() }}/public/assets/js/modernizr-2.6.2.min.js"></script>

<script async defer src="//platform.instagram.com/de_DE/embeds.js"></script>
        <script src="{{ base_url() }}/public/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ base_url() }}/public/assets/js/bootstrap-select.min.js"></script>
        <script src="{{ base_url() }}/public/assets/js/bootstrap-hover-dropdown.js"></script>

        <script src="{{ base_url() }}/public/assets/js/easypiechart.min.js"></script>
        <script src="{{ base_url() }}/public/assets/js/jquery.easypiechart.min.js"></script>

        <script src="{{ base_url() }}/public/assets/js/owl.carousel.min.js"></script>

        <script src="{{ base_url() }}/public/assets/js/wow.js"></script>

        <script src="{{ base_url() }}/public/assets/js/icheck.min.js"></script>
        <script src="{{ base_url() }}/public/assets/js/price-range.js"></script>


        <script src="{{ base_url() }}/public/assets/js/jquery.ba-cond.min.js"></script>
        <script src="{{ base_url() }}/public/assets/js/jquery.slitslider.js"></script>

        <script src="{{ base_url() }}/public/assets/js/main.js"></script>

        <script type="text/javascript">

        $(function(){
  new WOW().init();
});
          $(document).ready(function(){
                                    $('[data-toggle="tooltip"]').tooltip();
                                });
                            $(function () {

                                var Page = (function () {

                                    var $nav = $('#nav-dots > span'),
                                            slitslider = $('#slider').slitslider({
                                        onBeforeChange: function (slide, pos) {

                                            $nav.removeClass('nav-dot-current');
                                            $nav.eq(pos).addClass('nav-dot-current');

                                        }
                                    }),
                                            init = function () {

                                                initEvents();

                                            },
                                            initEvents = function () {

                                                $nav.each(function (i) {

                                                    $(this).on('click', function (event) {

                                                        var $dot = $(this);

                                                        if (!slitslider.isActive()) {

                                                            $nav.removeClass('nav-dot-current');
                                                            $dot.addClass('nav-dot-current');

                                                        }

                                                        slitslider.jump(i + 1);
                                                        return false;

                                                    });

                                                });

                                            };

                                    return {init: init};

                                })();

                                Page.init();

                                /**
                                 * Notes:
                                 *
                                 * example how to add items:
                                 */

                                /*

                                 var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

                                 // call the plugin's add method
                                 ss.add($items);

                                 */

                            });
        </script>
    </body>


</body>
</html>
